.itemdiv{
    width:300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.1);
    margin:20px;
    overflow:hidden;
    font-family: polysans,sans-serif;
    padding: 20px;
}
.image{
    max-width:100%;
    height:auto;
}
.itemContainer{
font-family: Arial, Helvetica, sans-serif;
text-align:center;
}
.itemName{
font-size:1rem;
font-weight:600;
color:#393e46;
}
.btn{
    background-color: #29bb89;
    color:white;
    border:none;
    padding:10px;
    font-size: 14px;
    font-weight: 600;
    cursor:pointer;
    border-radius: 5px;
}
.btncontainer{
    margin-bottom:20px;
    display:flex;
   justify-content: space-around;
   text-align: center;
   margin: 15px;
}
@media (max-width: 576px) {
    .itemdiv {
        width: 90%; 
        margin: 10px auto; 
        padding: 15px; 
    }

    .itemName {
        font-size: 0.9rem; 
    }

    .btn {
        font-size: 12px; 
        padding: 8px; 
    }

    .btncontainer {
        flex-direction: column; 
        align-items: center; 
        margin: 10px 0; 
    }

    .btn {
        width: 80%; 
        margin-bottom: 10px; 
    }
}
